{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="simple-bg-screen" style="background-image: url('{% static 'img/banner-1.jpg' %}')">
<section class="login-screen-sec" >
            <div class="container">
                <div class="login-screen">
                    <a href="{% url 'Home:index' %}"><img src="{% static 'img/logo.png' %}" class="img-responsive" alt=""></a>
                    <form>
                        {% csrf_token %}
                        <input type="text" class="form-control" placeholder="Useraname">
                        <input type="password" class="form-control" placeholder="Password">
                        <button class="btn btn-login" type="submit">Login</button><span>You Have No Account? <a href="{% url 'Accounts:signup' %}"> Create An Account</a></span></form>
                </div>
            </div>
        </section>
</div>
{% endblock %}