{% load static %}
<footer class="footer">
            <div class="row no-padding">
                <div class="container">
                    <div class="col-md-4 col-sm-12">
                        <div class="footer-widget">
                            <h3 class="widgettitle widget-title">About Job Stock</h3>
                            <div class="textwidget">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                                <p>7860 North Park Place
                                    <br>San Francisco, CA 94120</p>
                                <p><strong>Email:</strong> Support@careerdesk</p>
                                <p><strong>Call:</strong> <a href="tel:+15555555555">555-555-1234</a></p>
                                <ul class="footer-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="footer-widget">
                            <h3 class="widgettitle widget-title">All Navigation</h3>
                            <div class="textwidget">
                                <div class="textwidget">
                                    <ul class="footer-navigation">
                                        <li><a href="{% url 'Home:index' %}" title="">Home</a></li>
                                        <li><a href="#" title="">Jobs</a></li>
                                        <li><a href="#" title="">Candidate</a></li>
                                        <li><a href="#" title="">Companes</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="footer-widget">
                            <h3 class="widgettitle widget-title">Contact Us</h3>
                            <div class="textwidget">
                                <form class="footer-form">
                                    <input type="text" class="form-control" placeholder="Your Name" required>
                                    <input type="text" class="form-control" placeholder="Email" required>
                                    <textarea class="form-control" placeholder="Message" required></textarea>
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row copyright">
                <div class="container">
                    <p>Copyright Job Stock © 2017. All Rights Reserved </p>
                </div>
            </div>
        </footer>
        <div class="clearfix"></div>
        <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>

